<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GCBPMS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="master-data">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Master Data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="press-detail-page">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Press Detail
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plate-assign">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Plate Assign
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plate-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Plate Detail
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prod-create-request">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Request
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maintenance-request-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Request List
            </NavLink>
        </div>
    </nav>
</div>

