
body {
    background-image: url('/assets/background.jpg'); /* Specify the path to your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    /*opacity: 0.8;*/
}

input {
    margin-top: 16px;
}

.labelRememberMe {
    margin-top: 16px;
}

.login-container {
    font-size: 14px;
    font-family: 'Roboto';
    border: 1px solid #ccc;
    border-radius: 10px; /* Adjust the radius as needed */
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-top: 24px;
    background-color: white;
    max-width: 750px; /* Adjust the maximum width as needed */
    height: auto;
    max-height: 100%;
    margin: 100px auto 0;
    overflow-y: auto;
}

#account {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

p {
    text-align: center;
    margin-top: 16px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
}

#try {
    margin-top: 16px;
}

.forgotPassword {
}

a:hover {
    text-decoration: underline;
    color: black;
}

button {
    margin-top: 16px;
}

#DrpDepartment {
    margin-top: 16px;
}
